
/* ------- DEFAULT: MOBILE ------- */

/* *{
    font-family: 'Lateef', cursive;
} */

@media screen and (max-width: 500px){
    /* NAVIGATION */
    .navbar{
        list-style-type: none;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        font-size: 20px;
    }
    a.navitem5{
        grid-row: 1 / span 1;
    }
    a.navitem1{
        grid-row: 2 / span 1;
    }
    a.navitem2{
        grid-row: 3 / span 1;
    }
    a.navitem3{
        grid-row: 4 / span 1;
    }
    a.navitem4{
        grid-row: 5 / span 1;
    }
    .menu_web{
        display: none;
        position: fixed;
        bottom: 25px;
        right: 25px;
    }
}



/* SKIP */
.skip{
    font-size: 20px;
    padding: 10px;
    position: absolute;
    left: -1000px;
}

.skip:focus{
    left: 0;
}

/* HEADER DIV */
nav .naming_stuff{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:  50px auto 50px;
}

/* ABEY NOBLE */
.name{
    font-size: 70px;
    grid-column: 2 / span 6;
    grid-row: 2 / span 1;
    justify-self: start;
    align-self: center;
    font-weight: normal;
}


a.navitem:link{
   
    text-decoration: none;
    color: black;
    justify-self: center;
}
a.navitem:visited{
    text-decoration: line-through;
    color: black;
}
a.navitem:hover, a.navitem:active{
    text-decoration: line-through;  
}
a.currentpage:link, a.currentpage:visited{
    text-decoration: line-through;   
}
nav div a{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* HORIZONTAL LINE */
hr, div hr{
    display:block;
    margin: auto;
    margin: auto;
    width: 80%;
}

/* FOOTER */
footer div p{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

main p{
    line-height: 1.2;
}

.material-icons-outlined-menu{
    font-family: Material Icons;
    font-size: 50px;
    color: grey;
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.material-icons-outlined-x{
    font-family: Material Icons;
    font-size: 50px;
    color: grey;
    
    margin-right: 25px;
    justify-self: end;
}

/* 
footer{
    position: relative;
    bottom: 5px;
} */






/* ------- TABLET ------- */

@media screen and (min-width: 500px) {
    .navbar{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    a.navitem1{
        font-size: 20px;
        grid-column: 1 / span 1;
    }
    a.navitem2{
        font-size: 20px;
        grid-column: 2 / span 1;
    }
    a.navitem3{
        font-size: 20px;
        grid-column: 3 / span 1;
    }
    a.navitem4{
        font-size: 20px;
        grid-column: 4 / span 1;
    }
}








