
/* ------- DEFAULT: MOBILE ------- */

/* *{
    font-family: 'Lateef', cursive;
} */


/* LOGO */
/* .logo{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */


/* HEADER DIV */
nav div{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:  50px auto auto auto;
}


/* MENU ICON */
/* .menuicon{
    height: 50px;
    width: 50px;
    grid-column: 10 / span 2;
    grid-row: 1 / span 1;
    justify-self: center;
    align-self: center;
} */

/* USER RESEARCH PORTFOLIO */
.user{
    grid-column: 2 / span 10;
    grid-row: 1 / span 1;
    font-size: 16px;
    justify-self: center;
    align-self: center;
    color: #9297A0;
}


/* ABEY NOBLE */
.name{
    font-size: 70px;
    grid-column: 2 / span 6;
    grid-row: 2 / span 1;
    justify-self: start;
    align-self: center;
}

/* DOWN ARROW */
/* .downarrow{
    height: 50px;
    width: 50px;
    grid-column: 6 / span 2;
    grid-row: 4 / span 1;
    justify-self: center;
    align-self: center;
} */


/* ABOUT ME */
/* .tagline{
    font-size: 25px;
    grid-column: 2 / span 10;
    grid-row: 5 / span 1;
    justify-self: center;
    align-self: center;
    text-align: center;
} */

/* NAVIGATION */
.navbar{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

/* a.navitem1{
    font-size: 20px;
    grid-column: 2 / span 1;
}
a.navitem2{
    font-size: 20px;
    grid-column: 3 / span 1;
}
a.navitem3{
    font-size: 20px;
    grid-column: 4 / span 1;
}
a.navitem4{
    font-size: 20px;
    grid-column: 5 / span 1;
} */

/* a.navitem:link{
    font-size: 20px;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: black;
}

a.navitem:hover a.navitem:active{
    text-decoration:line-through;
    color:black;
}

a.navitem:visted{
    color:black;
    text-decoration: line-through;
} */





/* NAVIGATION */
/* .navbar{
    
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
} */
a.navitem:link{
    font-size: 20px;
    text-decoration: none;
    color: black;
    justify-self: center;
}
a.navitem:visited{
    text-decoration: line-through;
    color: black;
}
a.navitem:hover, a.navitem:active{
    text-decoration: line-through;  
}
a.currentpage:link, a.currentpage:visited{
    text-decoration: line-through;   
}
/* .navitem:nth-child(1), .navitem:nth-child(2), .navitem:nth-child(3){
    padding-bottom: 25px;
} */


/* HORIZONTAL LINE */
hr{
    width: 80%;
}


/* FOOTER */
/* footer div{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #9297A0;
    text-align: center;

}
footer div div{
    padding: 40px 0;
}
footer div p{
    padding: 0;
    margin: 0;
} */

footer div p{
    text-align: center;
    font-size: 15px;
}


/* .navbar{
    list-style-type: none;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    right 0;
} */

/* .navitem {
    display: inline-block;
    padding: 10px 20px;
    font-size: 25px;
} */


